{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}
{% block body %}
{% include "section/section.html.twig" with {'descripcion':'Registrar Club'} %}

    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="row justify-content-center">    
    <div class="col-6 p-5">
        <h1 class="text-center">Registrar Club</h1>
        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.nomres, {
                label: 'Nombre responsable:'    
            }) }}
            {{ form_row(registrationForm.nomclub, {
                label: 'Nombre Club:'    
            }) }}
            {{ form_row(registrationForm.web, {
                label: 'Web Club:'    
            }) }}
            {{ form_row(registrationForm.direccion, {
                label: 'Dirección:'    
            }) }}
            {{ form_row(registrationForm.provincia, {
                label: 'Provincia:'    
            }) }}
            {{ form_row(registrationForm.poblacion, {
                label: 'Población:'    
            }) }}
            {{ form_row(registrationForm.telefono, {
                label: 'Teléfono:'    
            }) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <button type="submit" class="btn estiloboton btn-block">Registrar</button>
        {{ form_end(registrationForm) }}
    </div>
    </div>
{% endblock %}
