{% extends 'base.html.twig' %}

{% block title %}Detalle Club
{% endblock %}
{% block body %}
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>
	<!-- Header Section End -->

	<!-- Breadcrumb Begin -->
	{% include "section/section.html.twig" with {'descripcion':'Detalle Club'} %}
	<!-- Breadcrumb End -->

	<!-- Classes Section Begin -->
		<section class="classes-details spad"> <div class="container">
			<div class="row">
				<div class="col-lg-4">
					<div class="classes__sidebar">
						<div class="classes__sidebar__item classes__sidebar__item--info">
							<h4>Información Club</h4>
							<ul class="classes__sidebar__item__widget">
								<li>
									<span class="icon_calendar"></span>
									Lunes-Sábado</li>
								<li>
									<span class="icon_clock_alt"></span>
									08:00 - 22:00</li>
							</ul>
							<ul class="classes__sidebar__item__id">
								<li>
									<span class="icon_pin_alt"></span>
									{{ club.direccion }}
								</li>
								<li>
									<span class="icon_id"></span>
									{{ club.nomres }}</li>
							</ul>
							<a href="#" class="sidebar-btn">JOIN NOW</a>
						</div>
						<div class="classes__sidebar__item">
							<h4>Sobre el responsable</h4>
							<div class="classes__sidebar__instructor">
								<div class="classes__sidebar__instructor__pic">
									<img src="/img/classes-details/classes-instructor.png" alt="">
								</div>
								<div class="classes__sidebar__instructor__text">
									<div class="classes__sidebar__instructor__title">
										<h4>{{ club.nomres }}</h4>
										<span>Gerente</span>
									</div>
									{# <p>Yoga & Therapy Certificate of<br/>
																																																							Uttarakhand University Sanskirt</p> #}
									<div class="classes__sidebar__instructor__social">
										<a href="#">
											<span class="social_facebook"></span>
										</a>
										<a href="#">
											<span class="social_twitter"></span>
										</a>
										<a href="#">
											<span class="social_instagram"></span>
										</a>
										<a href="#">
											<span class="social_linkedin"></span>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="classes__sidebar__item">
							<h4>Review & Comment</h4>
							<div class="classes__sidebar__comment__list">
								<div class="classes__sidebar__comment">
									<div class="classes__sidebar__comment__pic">
										<img src="/img/classes-details/comment-1.png" alt="foto">
										<div class="classes__sidebar__comment__rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star-half-o"></i>
										</div>
									</div>
									<div class="classes__sidebar__comment__text">
										<span>04 Mar 2018</span>
										<h6>Brandon Kelley</h6>
										<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
																																																																		                                            adipisci velit,</p>
									</div>
								</div>
								<div class="classes__sidebar__comment">
									<div class="classes__sidebar__comment__pic">
										<img src="/img/classes-details/comment-2.png" alt="foto">
										<div class="classes__sidebar__comment__rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star-half-o"></i>
										</div>
									</div>
									<div class="classes__sidebar__comment__text">
										<span>04 Mar 2018</span>
										<h6>Christina Kelley</h6>
										<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-8">
					<div class="classes__details">
						<div class="classes__details__large">
							<img src="{{ club.imagen }}" alt="">
							{# <span>Beginer</span> #}
						</div>
						<div
							class="row">
							{# <div class="container"> #}
							<table class="table">
								<thead class="thead-dark">
									<tr>
										<th scope="col">#</th>
										<th scope="col">Club</th>
										<th scope="col">Pista</th>
										<th scope="col">Tipo Pista</th>
										<th scope="col">Hora</th>
										<th scope="col">Precio</th>
									</tr>
								</thead>
								<tbody>
								{% for club in clubs %}
									<tr>
										<th>1</th>
										<td>{{ club.nomclub }} Hola</td>
										<td>{{ club.idpista }}Hola</td>
										<td>@mdo</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
							{# </div> #}
						</div>

						<p>{{ club.descripcion}}</p>
						<div class="classes__details__item">
							<div class="row">
								<div class="col-lg-4 col-md-4">
									<img src="/img/classes-details/cd-item-1.jpg" alt="">
								</div>
								<div class="col-lg-8 col-md-8">
									<div class="row">
										<div class="col-lg-6 col-md-6">
											<img src="/img/classes-details/cd-item-2.jpg" alt="">
										</div>
										<div class="col-lg-6 col-md-6">
											<img src="/img/classes-details/cd-item-3.jpg" alt="">
										</div>
									</div>
									<img src="/img/classes-details/cd-item-4.jpg" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Classes Section End -->

{% endblock %}
