{% extends 'base.html.twig' %}

{% block title %}Club index{% endblock %}

{% block body %}
    <h1>Club index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nomres</th>
                <th>Nomclub</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Web</th>
                <th>Provincia</th>
                <th>Poblacion</th>
                <th>Fechacreacion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for club in clubs %}
            <tr>
                <td>{{ club.id }}</td>
                <td>{{ club.nomres }}</td>
                <td>{{ club.nomclub }}</td>
                <td>{{ club.direccion }}</td>
                <td>{{ club.telefono }}</td>
                <td>{{ club.web }}</td>
                <td>{{ club.provincia }}</td>
                <td>{{ club.poblacion }}</td>
                <td>{{ club.fechacreacion ? club.fechacreacion|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('club_show', {'id': club.id}) }}">show</a>
                    <a href="{{ path('club_edit', {'id': club.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('club_new') }}">Create new</a>
{% endblock %}
