{% extends 'base.html.twig' %}

{% block title %}Club index
{% endblock %}

{% block body %}
	{% include "section/section.html.twig" with {'descripcion':'Club'} %}
	<section class="classes spad">
		<div class="container">
			<div class="classes__filter">
				<div class="row">
					<div class="col-lg-12">
						<form action="#">
							<div class="class__filter__select">
								<p>Filter By Day:</p>
								<select>
									<option>All</option>
									<option>Option 1</option>
									<option>Option 2</option>
									<option>Option 3</option>
								</select>
							</div>
							<div class="class__filter__select">
								<p>Level:</p>
								<select>
									<option>All Levels</option>
									<option>Option 1</option>
									<option>Option 2</option>
									<option>Option 3</option>
								</select>
							</div>
							<div class="class__filter__select">
								<p>Teacher:</p>
								<select>
									<option>All Teachers</option>
									<option>Option 1</option>
									<option>Option 2</option>
									<option>Option 3</option>
								</select>
							</div>
							<div class="class__filter__select">
								<p>Style:</p>
								<select>
									<option>All Styles</option>
									<option>Option 1</option>
									<option>Option 2</option>
									<option>Option 3</option>
								</select>
							</div>
							<div class="class__filter__btn">
								<button>
									<i class="fa fa-search"></i>
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="container-fluid">
		<h3 class="text-center">Clubs</h3>
		<div class="row justify-content-center">
			<div class="col-11">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Id</th>
							<th scope="col">Resp.</th>
							<th scope="col">Club</th>
							<th scope="col">Descripción</th>
							<th scope="col">Direccion</th>
							<th scope="col">Telefono</th>
							<th scope="col">Web</th>
							<th scope="col">CCAA</th>
							<th scope="col">Provincia</th>
							<th scope="col">Poblacion</th>
							<th scope="col">Fecha creación</th>
							<th scope="col">Acciones</th>
						</tr>
					</thead>
					<tbody>
						{% for club in clubs %}
							<tr>
								<td>{{ club.id }}</td>
								<td>{{ club.nomres }}</td>
								<td>{{ club.nomclub }}</td>
								<td>
									<span class="d-inline-block text-truncate" style="max-width: 100px;">{{club.descripcion}}</span>
								</td>
								<td>{{ club.direccion}}</td>
								<td>{{ club.telefono }}</td>
								<td>{{ club.web }}</td>
								<td>{{ club.admin1code }}</td>
								<td>{{ club.admin2code }}</td>
								<td>{{ club.admin3code }}</td>
								<td>{{ club.fechacreacion ? club.fechacreacion|date('Y-m-d H:i:s') : '' }}</td>
								<td>
									<div class="classes__item__text p-0">
										<div class="row">
											<div class="col-3">
												<a href="{{ path('club_show', {'id': club.id}) }}" class="btn btn-sm btn-primary">
													<i class="fa fa-eye"></i>
												</a>
											</div>
											<div class="col-3">
												<a href="{{ path('club_edit', {'id': club.id}) }}" class="btn btn-sm btn-warning">
													<i class="fa fa-pencil-square-o"></i>
												</a>
											</div>
											<div class="col-3">
												{{ include('club/_delete_form.html.twig') }}
											</div>
										</div>
									</div>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="10">Club no encontrado</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="classes__item__text">
		<a href="{{ path('club_new') }}" class="class-btn">Crear Nuevo Club</a>
	</div>

{% endblock %}
