{% extends 'base.html.twig' %}

{% block title %}Club
{% endblock %}

{% block body %}
	{% include "section/section.html.twig" with {'descripcion':'Club'} %}
	<div class="container-fluid p-5">
		<h3 class="text-center">Club</h3>
		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-6">
				<div class="classes__item classes__item__page">
					<div class="classes__item__pic set-bg" data-setbg="img/classes/classes-3.jpg">
						<span>Foto</span>
					</div>
					<h6>Responsable:{{ club.nomres }}</h6>
					<h6>Club:
						{{ club.nomclub }}</h6>
					<h6>Web:
						{{ club.web }}</h6>
					<h6>Teléfono:
						{{ club.telefono }}</h6>
					<h6>Dirección:
						{{ club.direccion }}</h6>
					<h6>CCAA:
						{{ club.admin1code }}</h6>
					<h6>Provincia:
						{{ club.admin2code }}</h6>
					<h6>Población:
						{{ club.admin3code }}</h6>
					<h6>Fecha creación:
						{{ club.fechacreacion ? club.fechacreacion|date('Y-m-d H:i:s') : '' }}</h6>

					<div class="classes__item__text p-0 mt-2">
						<div class="row">
							<div class="col-1">
								<a href="{{ path('club_edit', {'id': club.id}) }}" class="btn btn-sm btn-warning">
									<i class="fa fa-pencil-square-o"></i>
								</a>
							</div>
							<div class="col-1">
								{{ include('club/_delete_form.html.twig') }}
							</div>
						</div>
						{# <div class="col-4"> #}
						<a href="{{ path('club_index') }}" class="class-btn text-nowrap mt-2">Volver al listado</a>
						{# </div> #}

					</div>
				</div>
			</div>
		</div>
	</div>

	{# <table class="table">
							<tbody>
								<tr>
									<th>Id</th>
									<td>{{ club.id }}</td>
								</tr>
								<tr>
									<th>Nomres</th>
									<td>{{ club.nomres }}</td>
								</tr>
								<tr>
									<th>Nomclub</th>
									<td>{{ club.nomclub }}</td>
								</tr>
								<tr>
									<th>Direccion</th>
									<td>{{ club.direccion }}</td>
								</tr>
								<tr>
									<th>Telefono</th>
									<td>{{ club.telefono }}</td>
								</tr>
								<tr>
									<th>Web</th>
									<td>{{ club.web }}</td>
								</tr>
								<tr>
									<th>Provincia</th>
									<td>{{ club.provincia }}</td>
								</tr>
								<tr>
									<th>Poblacion</th>
									<td>{{ club.poblacion }}</td>
								</tr>
								<tr>
									<th>Fechacreacion</th>
									<td>{{ club.fechacreacion ? club.fechacreacion|date('Y-m-d H:i:s') : '' }}</td>
								</tr>
							</tbody>
						</table> #}
{% endblock %}
