{% extends 'base.html.twig' %}

{% block title %}Jugadores{% endblock %}

{% block body %}
	{% include "section/section.html.twig" with {'descripcion':'Jugador'} %}
	<div class="container-fluid p-5">
	<h3 class="text-center">Jugadores</h3>
		<div class="row justify-content-center">
			<div class="col-11">
				<table class="table">
					<thead>
						<tr>
							<th>Id</th>
							<th>Nombre</th>
							<th>Apellidos</th>
							<th>Direccion</th>
							<th>Provincia</th>
							<th>Poblacion</th>
							<th>Telefono</th>
							<th>Fecha Alta</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>
						{% for jugador in jugadors %}
							<tr>
								<td>{{ jugador.id }}</td>
								<td>{{ jugador.nombre }}</td>
								<td>{{ jugador.apellidos }}</td>
								<td>{{ jugador.direccion }}</td>
								<td>{{ jugador.provincia }}</td>
								<td>{{ jugador.poblacion }}</td>
								<td>{{ jugador.telefono }}</td>
								<td>{{ jugador.fechacreacion ? jugador.fechacreacion|date('Y-m-d H:i:s') : '' }}</td>
								<td>
									<div class="classes__item__text p-0">
										<a href="{{ path('jugador_show', {'id': jugador.id}) }}" class="class-btn">Ver</a>
										<a href="{{ path('jugador_edit', {'id': jugador.id}) }}" class="class-btn">Editar</a>
										<a href="{{ path('jugador_delete', {'id': jugador.id}) }}" class="class-btn btn-danger">
											<span class="text-white">Borrar</span>
										</a>
									</div>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="9">Jugador no encontrado</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="classes__item__text">
		<a href="{{ path('jugador_new') }}" class="class-btn">Crear Nuevo Jugador</a>
	</div>
{% endblock %}
