{% extends 'base.html.twig' %}

{% block title %}Jugador{% endblock %}

{% block body %}
{% include "section/section.html.twig" with {'descripcion':'Jugador'} %}
    <h3 class="text-center">Jugador</h3>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ jugador.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ jugador.nombre }}</td>
            </tr>
            <tr>
                <th>Apellidos</th>
                <td>{{ jugador.apellidos }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ jugador.direccion }}</td>
            </tr>
            <tr>
                <th>Provincia</th>
                <td>{{ jugador.provincia }}</td>
            </tr>
            <tr>
                <th>Poblacion</th>
                <td>{{ jugador.poblacion }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ jugador.telefono }}</td>
            </tr>
            <tr>
                <th>Fecha creacion</th>
                <td>{{ jugador.fechacreacion ? jugador.fechacreacion|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
<div class="classes__item__text">
    <a href="{{ path('jugador_index') }}" class="class-btn">Volver al listado</a>
    <a href="{{ path('jugador_edit', {'id': jugador.id}) }}" class="class-btn">Editar</a>
</div>
    {# {{ include('jugador/_delete_form.html.twig') }} #}
{% endblock %}
