{% extends 'base.html.twig' %}

{% block title %}Tipo{% endblock %}

{% block body %}
<section class="breadcrumb-option set-bg" data-setbg="{{ asset('img/breadcrumb.jpg') }}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h2>Contacto</h2>
                        <div class="breadcrumb__widget">
                            <a href="/home">Inicio</a>
                            <span>Contacto</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <h1>Tipo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tipo.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ tipo.nombre }}</td>
            </tr>
            <tr>
                <th>Fechacreacion</th>
                <td>{{ tipo.fechacreacion ? tipo.fechacreacion|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tipo_index') }}">back to list</a>

    <a href="{{ path('tipo_edit', {'id': tipo.id}) }}">edit</a>

    {{ include('tipo/_delete_form.html.twig') }}
{% endblock %}
